@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
   --primary-color:#000;
   --secondary-color:#fff;
   --btn-color:#e30813;
   --dark-color:#303030;
   --footer-color:#787878;
}

*{
   padding:0;
   margin:0;
   box-sizing: border-box;
   outline:none;
}

body{
   font-family: 'Lato', sans-serif;
   background-color: var(--primary-color);
   color:var(--secondary-color);
   overflow-x: hidden;
}

/* Utility */
a{
   text-decoration: none;
   display: inline-block;
}

ul{
   list-style-type:none;
}

img{
   width:100%;
}

.btn{
   background:var(--btn-color);
   color:var(--secondary-color);
   transition:opacity .1s;
}

.btn:hover{
   opacity:.9;
}

/* Header */
.header{
   height:105vh;
   background:url('img/showcase.jpg') no-repeat center center/cover;
   position:relative;
}

.header:before{
   content:"";
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0, 0, 0, .5);
   box-shadow: inset 120px 100px 250px rgba(0, 0, 0, .5), inset -120px -100px 250px rgba(0, 0, 0, .5);
}

.navigation{
   z-index: 2;
   position:relative;
}

.navigation-inner{
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1300px;
   margin:0 auto;
   padding:.6rem 1.5rem;
}

.navigation img{
   width:163px;
}

.nav-btn{
   padding:.5rem 1rem;
   border-radius: 3px;
}

.hero{
   width:650px;
   position: absolute;
   z-index:2;
   top:53%;
   left:50%;
   transform: translate(-50%,-50%);
   text-align: center;
   padding:.5rem;
}

.hero h1{
   font-size: 3.6rem !important; 
   margin-bottom: .5rem;
   font-weight: 700;
}

.hero .top-text{
   font-size: 1.7rem;
   margin-bottom: 1rem;
}

.form p{
   font-size: 1.4rem;
   margin-bottom: .8rem;
}

.form-control{
   height:57px;
   display: flex;
   justify-content: center;
   position: relative;
}

.email-infos{
   width:100%;
}

.email-infos span{
   display: none;
}

.show-error .email-infos span{
   position: absolute;
   left:2px;
   bottom:-20px;
   font-size: .8rem;
   color:orange;
   display: block;
}

.show-error .form-control input{
   border:none;
   border-bottom: 1px solid orange;
}

.form-control input{
   height:100%;
   width:100%;
   padding:1rem;
   font-size: 1rem;
}

.form-btn{
   height:100%;
   width:230px;
   padding:.5rem 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   border:none;
   cursor: pointer;
}

.form-btn i{
   margin-left: .5rem;
}

/* Contents Tabs */
.content{
   border-top: 7px solid var(--dark-color);
   padding:3.5rem;
}

.content-tab-inner{
   max-width: 1100px;
   margin:0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 2rem;
   align-items: center;
   justify-content: center;
}

.content-title{
   font-size: 3.2rem;
   margin-bottom: 1rem;
}

.content-text{
   font-size: 1.6rem;
}

.content-tab-3{
   border-bottom:7px solid var(--dark-color);
}

/* Infos */
.infos{
   padding:4rem 1rem 4rem 3rem;
   border-bottom: 7px solid var(--dark-color);
}

.faq-section{
   max-width: 750px;
   margin:0 auto;
}

.faq-section h1{
   text-align: center;
   font-size: 3.2rem;
   margin-bottom: 1.5rem;
}

.faq{
   width:97%;
   margin:0 auto;
   margin-bottom: .6rem;
   background-color: var(--dark-color);
   font-size: 1.5rem;
}

.question{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 30px;
   padding: 2.1rem 1.1rem;
   cursor:pointer;
   z-index: 1000;
}

.button{
   background:none;
   border:none;
   color:var(--secondary-color);
   cursor: pointer;
   position: relative;
   width:20px;
   height:20px;
}

.button span{
   font-size: 1.2rem;
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
}

.close-btn{
   display: none;
}

.answer{
   border-top: 1px solid var(--primary-color);
   padding: 1rem 1.1rem;
   display: none;
}

.show .answer{
   display: block;
}

.show .close-btn{
   display: block;
}

.show .plus-btn{
   display: none;
}

.form-container{
   width:650px;
   padding:.5rem;
   margin:0 auto;
   text-align: center;
}

/* Footer */
#footer{
   padding:4rem 3.5rem 1.5rem 3.5rem;
}

.footer-inner{
   max-width: 900px;
   margin:0 auto;
   color:#787878;
}

.footer-inner a{
   color:var(--footer-color);
   transition: text-decoration .2s ease-in;
}

.footer-inner a:hover{
   text-decoration: underline;
}

.footer-btn{
   margin-bottom: 1.5rem;
   font-size: 1rem;
}

.footer-btn span{
   margin-left: .2rem;
}

.list{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1rem;
   margin-bottom: .5rem;
}

.list a{
   font-size: .9rem;
}

.globe{
   width:140px;
}

.languages{
   border:1px solid var(--footer-color);
   border-bottom: none;
   background-color:#000;
   z-index: 1000;
   position: relative;
   display: none;
}

.languages li{
   padding: .3rem;
}

.languages li:hover{
   background-color: #0078d7;
}

.languages li:hover a{
   color:#fff;
   text-decoration: none;

}

#footer-btn{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width:100%;
   height:52px;
   padding: .5rem .9rem;
   border:1px solid var(--footer-color);
   cursor: pointer;
   margin-bottom: 1.5rem;
}

#country{
   font-size: .8rem;
}

.show-languages .languages{
   display: block;
}

/* Media Queries */

@media(max-width:768px){
   

   .navigation img{
      width:120px;
   }

   .hero{
      width: 490px;
   }

   .hero h1{
      font-size: 2.9rem !important;
   }

   .hero p{
      font-size: 1.4rem !important;
   }

   .faq-section h1{ 
      font-size: 2rem ;
   }
   
   .faq{
      font-size: 1.2rem;
   }
   
   .question{
      height: 25px;
      padding: 2.1rem 1.1rem;
   }

   .content-tab-inner{
      grid-template-columns: 1fr;
      text-align: center;
   }
   
}

@media(max-width:550px){
   
   .hero{
      width:425px;
   }
   .hero h1{
      font-size: 2.5rem !important;
   }

   .hero p{
      font-size: 1.3rem !important;
   }

   .form-control{
      flex-direction: column;
      align-items: center;
   }

   .form-control input{
      margin-top: 2.5rem;
      height:50px !important;
      font-size: .8rem !important;
   }

   .show-error .email-infos span{
      bottom:-8px;
      font-size: .85rem;
   }

   .form-control input{
      height:100%;
      width:100%;
      padding:1rem;
      font-size: 1rem;
   }

   .email-infos{
      margin-bottom: 1.5rem;
   }
   
   .form-btn{
      width:180px;
      padding:.8rem 1rem;
      font-size: 1rem;
   }
   .form-container{
      width:100%;
   }

   

   

   

   
}

@media(max-width:360px){
   .navigation img{
      width:100px;
   }

   .nav-btn{
      padding:.3rem .6rem;
      font-size: .8rem;
   }

   .hero{
      width: 310px;
   }

   .hero h1{
      font-size: 1.55rem !important;
   }

   .hero p{
      font-size: 1rem !important;
   }

   .form-control{
      flex-direction: column;
      align-items: center;
   }

   .form-control input{
      margin-top: 1.7rem;
      height:2px !important;
      font-size: .8rem !important;
   }
   
   
   
   
 
   
   .show-error .form-control input{
   }


   .show-error .email-infos span{
      bottom:9px;
      font-size: .7rem;
   }

   .form-control input{
      height:100%;
      width:100%;
      padding:1rem;
      font-size: 1rem;
   }

   .email-infos{
      margin-bottom: 1.5rem;
   }
   
   .form-btn{
      width:135px;
      padding:.5rem 1rem;
      font-size: .8rem;
   }

   .content-tab-inner{
      grid-template-columns: 1fr;
      text-align: center;
   }
   
   .content-title{
      font-size: 1.5rem;
   }
   
   .content-text{
      font-size: 1rem;
   }


   


   .faq-section h1{ 
      font-size: 1.3rem ;
   }
   
   .faq{
      font-size: 1rem;
   }
   
   .question{
      padding: 1.3rem 1.1rem;
   }

   .form-container{
      width:100%;
   }

   .infos{
      width:100%;
      padding:3rem 0;
   }

   #footer a{
      font-size: .75rem;
   }

   .list{
      grid-template-columns: repeat(2, 1fr);
   }

   .para{
      font-size: 1rem !important;
   }
   
}
